## 0. Installing Requirements

In [1]:
# !pip install hazm
# !pip install nltk
# !pip install numpy
# !pip install pandas
# !pip install yake

<br>

## 1. Loading the Data

In [2]:
import pandas as pd

df = pd.read_json('./crawler/news_newformat_745.json')
df = df.transpose()

#### 1.1. Displaying Some Sample Records of Data

In [3]:
display(df)

,title,lead,text,tags,category,datetime,url
3063320,افشای تصاویر مهاجمین مسلح حمله تروریستی مسکو,تصاویر ۵ نفر از مهاجمین مسلح حمله تروریستی مسک...,رسانه‌ها، تصویر ۵ نفر از دستکم ۱۰ مهاجم عملیلت...,"[عملیات تروریستی, جنگ اوکراین]","[سیاسی, بین الملل]",2024-03-22T20:57:48Z,https://www.khabarfoori.com/بخش-%D8%B3%DB%8C%D...
3063319,مرگ تلخ ۳ عضو یک خانواده در تصادف رانندگی/ کود...,مدیر شبکه بهداشت و درمان پارس آباد از مرگ تلخ ...,دکتر منصور مهمان نواز با بیان اینکه تمامی فو...,"[پارس آباد, تصادف جاده ای, تصادف رانندگی, کشته...","[حوادث, تصادف]",2024-03-22T20:13:30Z,https://www.khabarfoori.com/بخش-%D8%AD%D9%88%D...
3063318,ایران حمله تروریستی در روسیه را محکوم کرد,سخنگوی وزارت امور خارجه کشورمان حمله تروریستی ...,ناصر کنعانی ضمن ابراز تسلیت به دولت و ملت روسی...,"[روسیه, سخنگوی وزارت امور خارجه, حادثه تروریستی]","[سیاسی, سیاست خارجی]",2024-03-22T20:07:36Z,https://www.khabarfoori.com/بخش-%D8%B3%DB%8C%D...
3063317,"پای چه‌کسانی در ""فاجعه کروکوس"" در میان است؟ / ...",عملیات تروریستی در مسکو تنها ساعاتی پس از آن ر...,جالب اینکه ۱۸ اسفند ماه سفارت آمریکا در روسیه ...,"[عملیات تروریستی, جنگ اوکراین]","[سیاسی, بین الملل]",2024-03-22T20:07:11Z,https://www.khabarfoori.com/بخش-%D8%B3%DB%8C%D...
3063316,رعنا آزادی ور عزادار شد,رعنا آزادی ور، بازیگر سینما و تلویزیون، چند سا...,رعنا آزادی ور متولد فروردین ماه سال 1362 می ب...,"[سوگ پدر, رعنا آزادی ور]","[فرهنگی, چهره ها]",2024-03-22T20:04:14Z,https://www.khabarfoori.com/بخش-%D9%81%D8%B1%D...
...,...,...,...,...,...,...,...
3062560,۲۵ سال پیش؛ داریوش مهرجویی هنگام فیلمبرداری «د...,داریوش مهرجویی (۱۳۱۸-۱۴۰۲) کارگردان و نویسنده ...,مهرجویی در مهر ماه ۱۴۰۲، همراه همسرش به قتل رس...,"[داریوش مهرجویی, ساخت فیلم, فیلمبرداری]","[فرهنگی, سینما و تئاتر]",2024-03-17T15:33:07Z,https://www.khabarfoori.com/بخش-%D9%81%D8%B1%D...
3062558,نبود سند توسعه عامل استمرار مشکلات است/ سفر ری...,منتخب مردم ایذه، باغملک، دزپارت و صیدون در دوا...,فرشاد ابراهیم پور نورآبادی رفع معضل بیکاری را ...,"[انتخابات مجلس, بیکاری, خوزستان, حل مشکلات]","[استان‌ها, خوزستان]",2024-03-17T15:17:33Z,https://www.khabarfoori.com/بخش-%D8%A7%D8%B3%D...
3062556,شورای عالی کار بدون تعیین دستمزد پایان یافت/ ت...,جلسه امروز شورای عالی کار باز هم به دلیل عدم ت...,جلسه شورای عالی کار امروز هم با حضور شرکای اجت...,"[شورای عالی کار, دستمزد کارگران, سبد معیشت کار...","[اقتصادی, اقتصاد ایران]",2024-03-17T15:06:42Z,https://www.khabarfoori.com/بخش-%D8%A7%D9%82%D...
3062554,نرخ بیکاری زنان ۲ برابر مردان/ کدام استان‌ها ب...,بنا بر داده‌های رسمی مرکز آمار ایران، نرخ بیکا...,بررسی نرخ بیکاری، نرخ مشارکت اقتصادی و نرخ اشت...,"[نرخ بیکاری, نرخ بیکاری زنان, وضعیت اقتصادی]","[اقتصادی, اقتصاد ایران]",2024-03-17T15:02:47Z,https://www.khabarfoori.com/بخش-%D8%A7%D9%82%D...
3062553,نتیجه مطالعه محققان استرالیایی: نگرانی از تبعا...,محققان استرالیایی به این نتیجه رسیدند که رژیم‌...,این مطالعه که توسط دانشمندان دانشگاه سیدنی در ...,"[رژیم غذایی, کاهش وزن, تغذیه مناسب]","[اجتماعی, سلامت]",2024-03-17T15:00:09Z,https://www.khabarfoori.com/بخش-%D8%A7%D8%AC%D...

#### 1.2. Distribution of Data Records in Each Major Category

In [4]:
cats = df['category']
major_cats = cats.apply(lambda x: x[0])
display(major_cats.value_counts())

category
سیاسی        186
اقتصادی      142
ورزشی         88
فرهنگی        75
اجتماعی       66
حوادث         47
سرگرمی        46
استان‌ها      42
دانش          28
سبک زندگی     24
Name: count, dtype: int64

<br>

## 2. Data Preprocessing

#### 2.1. Combining All Textual Data for each Data Record (Bag-of-Words)

In [5]:
# Combining all textual data for each record in a single column
df['textual_data'] = df.apply(lambda row: ' '.join([
    row['title'],
    row['lead'],
    row['text'],
    *row['tags']
]), axis=1)

# Dropping unnecessay columns
df = df.drop(columns=[
    'title',
    'lead',
    'text',
    'tags',
    'datetime',
    'url',
])

# Retaining only the major category for each data record
df['category'] = df['category'].apply(lambda row: row[0])

display(df)

         category                                       textual_data
3063320     سیاسی  افشای تصاویر مهاجمین مسلح حمله تروریستی مسکو ت...
3063319     حوادث  مرگ تلخ ۳ عضو یک خانواده در تصادف رانندگی/ کود...
3063318     سیاسی  ایران حمله تروریستی در روسیه را محکوم کرد سخنگ...
3063317     سیاسی  پای چه‌کسانی در "فاجعه کروکوس" در میان است؟ / ...
3063316    فرهنگی  رعنا آزادی ور عزادار شد رعنا آزادی ور، بازیگر ...
...           ...                                                ...
3062560    فرهنگی  ۲۵ سال پیش؛ داریوش مهرجویی هنگام فیلمبرداری «د...
3062558  استان‌ها  نبود سند توسعه عامل استمرار مشکلات است/ سفر ری...
3062556   اقتصادی  شورای عالی کار بدون تعیین دستمزد پایان یافت/ ت...
3062554   اقتصادی  نرخ بیکاری زنان ۲ برابر مردان/ کدام استان‌ها ب...
3062553   اجتماعی  نتیجه مطالعه محققان استرالیایی: نگرانی از تبعا...

[744 rows x 2 columns]

#### 2.2. Text Normalization

In [6]:
from hazm import Normalizer

normalizer = Normalizer()
df['textual_data'] = df['textual_data'].apply(
    lambda row: normalizer.normalize(row))
display(df)

         category                                       textual_data
3063320     سیاسی  افشای تصاویر مهاجمین مسلح حمله تروریستی مسکو ت...
3063319     حوادث  مرگ تلخ ۳ عضو یک خانواده در تصادف رانندگی / کو...
3063318     سیاسی  ایران حمله تروریستی در روسیه را محکوم کرد سخنگ...
3063317     سیاسی  پای چه‌کسانی در «فاجعه کروکوس» در میان است؟ / ...
3063316    فرهنگی  رعنا آزادی ور عزادار شد رعنا آزادی ور، بازیگر ...
...           ...                                                ...
3062560    فرهنگی  ۲۵ سال پیش؛ داریوش مهرجویی هنگام فیلمبرداری «د...
3062558  استان‌ها  نبود سند توسعه عامل استمرار مشکلات است / سفر ر...
3062556   اقتصادی  شورای عالی کار بدون تعیین دستمزد پایان یافت / ...
3062554   اقتصادی  نرخ بیکاری زنان ۲ برابر مردان / کدام استان‌ها ...
3062553   اجتماعی  نتیجه مطالعه محققان استرالیایی: نگرانی از تبعا...

[744 rows x 2 columns]

#### 2.3. Tokenization

In [7]:
from hazm import WordTokenizer

tokenizer = WordTokenizer()
df['textual_data'] = df['textual_data'].apply(
    lambda row: tokenizer.tokenize(row))
display(df)

         category                                       textual_data
3063320     سیاسی  [افشای, تصاویر, مهاجمین, مسلح, حمله, تروریستی,...
3063319     حوادث  [مرگ, تلخ, ۳, عضو, یک, خانواده, در, تصادف, ران...
3063318     سیاسی  [ایران, حمله, تروریستی, در, روسیه, را, محکوم, ...
3063317     سیاسی  [پای, چه‌کسانی, در, «, فاجعه, کروکوس, », در, م...
3063316    فرهنگی  [رعنا, آزادی, ور, عزادار, شد, رعنا, آزادی, ور,...
...           ...                                                ...
3062560    فرهنگی  [۲۵, سال, پیش, ؛, داریوش, مهرجویی, هنگام, فیلم...
3062558  استان‌ها  [نبود, سند, توسعه, عامل, استمرار, مشکلات, است,...
3062556   اقتصادی  [شورای, عالی, کار, بدون, تعیین, دستمزد, پایان,...
3062554   اقتصادی  [نرخ, بیکاری, زنان, ۲, برابر, مردان, /, کدام, ...
3062553   اجتماعی  [نتیجه, مطالعه, محققان, استرالیایی, :, نگرانی,...

[744 rows x 2 columns]

In [8]:
# Merging all token for each category (Bag-of-Words)
grouped_df = df.groupby('category').agg(lambda x: x.tolist())
grouped_df['textual_data'] = grouped_df['textual_data'].apply(
    lambda list_: [item for sublist in list_ for item in sublist])
grouped_df = grouped_df.T
display(grouped_df)

category,اجتماعی,استان‌ها,اقتصادی,حوادث,دانش,سبک زندگی,سرگرمی,سیاسی,فرهنگی,ورزشی
textual_data,"[هشدار, نارنجی, هواشناسی, به, این, استان‌ها, س...","[فعل, خواستن, در, فولاد, اکسین, خوزستان, صرف, ...","[خودرو, جدید, کره‌ای, و, تفاوت‌های, زیاد, آن, ...","[مرگ, تلخ, ۳, عضو, یک, خانواده, در, تصادف, ران...","[یافته, جدید, دانشمندان, :, بدن, نوجوان‌ها, بو...","[روانشناسی, شخصیت, :, اگر, این, ۹, رفتار, را, ...","[هفت, تقویم, متفاوت, در, سراسر, دنیا, ؛, این, ...","[افشای, تصاویر, مهاجمین, مسلح, حمله, تروریستی,...","[رعنا, آزادی, ور, عزادار, شد, رعنا, آزادی, ور,...","[۱۵, روز, زندان, برای, جیمی, جامپ, روسی, جیمی,..."

#### 2.4. Some Statistics on Tokens

In [9]:
import numpy as np

all_tokens = df['textual_data'].explode().tolist()

n_tokens = len(all_tokens)
print(f'Total number of tokens  = {n_tokens:7,}')

n_unique_tokens = len(set(all_tokens))
print(f'Number of unique tokens = {n_unique_tokens:7,}')

token_lens = [len(t) for t in all_tokens]
avg_token_len = np.mean(token_lens)
print(f'Average token length    = {avg_token_len:7.3f}')

longest_token = all_tokens[np.argmax(token_lens)]
print(f'Longest token length    = {len(longest_token):7}')
print(f'Longest token           = `{longest_token}`')

Total number of tokens  = 348,899
Number of unique tokens =  23,520
Average token length    =   3.968
Longest token length    =      22
Longest token           = `بسم‌الله‌الرحمن‌الرحیم`

In [10]:
from nltk import FreqDist

commons_df = pd.DataFrame({
    col: FreqDist(grouped_df[col].tolist()[0]).most_common(10)
    for col in grouped_df.columns
})
print('\nMost Common Tokens in each Category:')
display(commons_df)

Most Common Tokens in each Category:

,اجتماعی,استان‌ها,اقتصادی,حوادث,دانش,سبک زندگی,سرگرمی,سیاسی,فرهنگی,ورزشی
0,"(و, 1614)","(و, 653)","(و, 2327)","(در, 577)","(., 543)","(., 533)","(و, 1686)","(و, 4669)","(و, 879)","(در, 1130)"
1,"(در, 1399)","(در, 473)","(در, 2063)","(و, 562)","(در, 476)","(،, 493)","(., 1509)","(در, 3772)","(در, 627)","(., 950)"
2,"(., 1386)","(،, 333)","(., 1920)","(., 394)","(،, 428)","(و, 482)","(به, 1245)","(،, 3544)","(،, 615)","(و, 895)"
3,"(،, 1300)","(به, 290)","(،, 1575)","(به, 374)","(و, 400)","(در, 353)","(را, 984)","(به, 3046)","(., 597)","(به, 854)"
4,"(به, 988)","(از, 283)","(به, 1551)","(از, 309)","(به, 382)","(به, 352)","(در, 981)","(., 3035)","(به, 511)","(از, 644)"
5,"(از, 947)","(., 276)","(از, 1244)","(،, 285)","(که, 338)","(را, 320)","(از, 935)","(از, 2474)","(از, 488)","(،, 631)"
6,"(که, 706)","(با, 201)","(که, 990)","(با, 220)","(از, 315)","(از, 290)","(،, 869)","(که, 2219)","(این, 347)","(را, 482)"
7,"(این, 611)","(این, 175)","(این, 898)","(را, 185)","(این, 282)","(که, 270)","(که, 760)","(را, 1655)","(که, 315)","(که, 461)"
8,"(را, 568)","(:, 140)","(با, 826)","(این, 179)","(را, 254)","(است, 216)","(این, 660)","(این, 1641)","(را, 280)","(با, 433)"
9,"(است, 520)","(را, 108)","(را, 712)","(که, 175)","(است, 188)","(این, 209)","(با, 443)","(با, 1318)","(با, 279)","(این, 430)"

#### 2.5. Removing Stopwords

In [11]:
from hazm import stopwords_list

punctuations = [
    '.',
    '؟',
    '!',
    '،',
    ':',
    '؛',
    ')',
    '(',
    '»',
    '«',
    '«',
    '-',
    '/',
    '\\',
]
stopwords = set(stopwords_list() + punctuations)
for col in grouped_df.columns:
    grouped_df[col]['textual_data'] = [
        token
        for token in grouped_df[col]['textual_data']
        if token not in stopwords
    ]

commons_df = pd.DataFrame({
    col: FreqDist(grouped_df[col].tolist()[0]).most_common(10)
    for col in grouped_df.columns
})
print('\nMost Common Tokens in each Category:')
display(commons_df)

Most Common Tokens in each Category:

,اجتماعی,استان‌ها,اقتصادی,حوادث,دانش,سبک زندگی,سرگرمی,سیاسی,فرهنگی,ورزشی
0,"(کشور, 122)","(شرکت, 80)","(سال, 447)","(سال, 68)","(سال, 49)","(مصرف, 66)","(امروز, 194)","(سال, 471)","(سال, 171)","(تیم, 267)"
1,"(سال, 118)","(استان, 66)","(تومان, 313)","(پلیس, 64)","(استفاده, 43)","(مواد, 52)","(سال, 166)","(ایران, 429)","(ایران, 70)","(ایران, 182)"
2,"(کاهش, 96)","(مردم, 66)","(قیمت, 307)","(تهران, 56)","(کار, 41)","(بدن, 41)","(ایران, 132)","(مردم, 410)","(نوروز, 56)","(فوتبال, 177)"
3,"(جنوب, 90)","(خوزستان, 53)","(افزایش, 280)","(نفر, 55)","(شرکت, 38)","(غذایی, 40)","(فال, 128)","(کشور, 395)","(برنامه, 46)","(ملی, 173)"
4,"(کلپوره, 88)","(سال, 47)","(درصد, 276)","(قرار, 41)","(آب, 37)","(کاهش, 36)","(حافظ, 121)","(انتخابات, 326)","(شبکه, 43)","(سال, 150)"
5,"(افزایش, 87)","(شهرستان, 45)","(میلیون, 270)","(حادثه, 39)","(قرار, 36)","(نشان, 34)","(روز, 120)","(آمریکا, 301)","(منتشر, 42)","(بازی, 114)"
6,"(گیاه, 81)","(نیشکر, 43)","(کار, 253)","(نوروز, 37)","(محققان, 35)","(خواب, 34)","(انجام, 108)","(روسیه, 283)","(فیلم, 40)","(پرسپولیس, 104)"
7,"(مصرف, 80)","(حوزه, 41)","(هزار, 221)","(تصادفات, 36)","(دانشمندان, 34)","(افزایش, 33)","(دارید, 104)","(دولت, 258)","(ناصر, 38)","(لیگ, 92)"
8,"(درمان, 79)","(تولید, 40)","(دولت, 221)","(اورژانس, 36)","(پیاز, 30)","(کمک, 33)","(عشق, 101)","(مجلس, 227)","(هفت‌سین, 38)","(استقلال, 88)"
9,"(استفاده, 77)","(توسعه, 39)","(کارگران, 188)","(استان, 31)","(آن‌ها, 28)","(خمیر, 33)","(زندگی, 95)","(سیاسی, 203)","(قرار, 37)","(مسابقات, 83)"

#### 2.6. Lemmatization

In [12]:
from hazm import Lemmatizer

lemmatizer = Lemmatizer()
for col in grouped_df.columns:
    grouped_df[col]['textual_data'] = [
        lemmatizer.lemmatize(token)
        for token in grouped_df[col]['textual_data']
    ]

commons_df = pd.DataFrame({
    col: FreqDist(grouped_df[col].tolist()[0]).most_common(10)
    for col in grouped_df.columns
})
print('\nMost Common Tokens in each Category:')
display(commons_df)

Most Common Tokens in each Category:

,اجتماعی,استان‌ها,اقتصادی,حوادث,دانش,سبک زندگی,سرگرمی,سیاسی,فرهنگی,ورزشی
0,"(کشور, 186)","(شرکت, 88)","(سال, 447)","(پلیس, 69)","(سال, 49)","(مصرف, 66)","(کرد#کن, 229)","(کشور, 519)","(سال, 172)","(تیم, 310)"
1,"(سال, 119)","(استان, 68)","(قیمت, 334)","(سال, 68)","(استفاده, 43)","(مواد, 53)","(داد#ده, 219)","(سال, 471)","(ایران, 70)","(فوتبال, 184)"
2,"(کاهش, 96)","(مردم, 66)","(تومان, 313)","(تهران, 56)","(شرکت, 42)","(بدن, 45)","(امروز, 194)","(ایران, 429)","(برنامه, 64)","(ایران, 182)"
3,"(جنوب, 90)","(شهرستان, 54)","(افزایش, 290)","(نفر, 55)","(ربات, 41)","(آجیل, 43)","(داشت#دار, 194)","(مردم, 414)","(نوروز, 56)","(ملی, 173)"
4,"(افزایش, 90)","(خوزستان, 53)","(درصد, 278)","(استان, 42)","(کار, 41)","(غذایی, 42)","(سال, 166)","(انتخابات, 328)","(فیلم, 52)","(سال, 150)"
5,"(کلپوره, 89)","(سال, 47)","(میلیون, 275)","(حادثه, 41)","(آب, 40)","(کرد#کن, 39)","(زندگی, 156)","(آمریکا, 302)","(شبکه, 50)","(بازی, 128)"
6,"(گیاه, 87)","(حوزه, 46)","(کار, 255)","(قرار, 41)","(محقق, 39)","(کاهش, 36)","(شد#شو, 149)","(روسیه, 284)","(تلویزیون, 47)","(بازیکن, 121)"
7,"(مصرف, 80)","(نیشکر, 44)","(دولت, 225)","(تصادفات, 39)","(قرار, 36)","(نشان, 34)","(ایران, 132)","(دولت, 267)","(سینما, 42)","(پرسپولیس, 104)"
8,"(درمان, 79)","(تولید, 40)","(هزار, 221)","(نوروز, 39)","(دانشمندان, 35)","(ویتامین, 34)","(روز, 130)","(کرد#کن, 265)","(منتشر, 42)","(لیگ, 94)"
9,"(استفاده, 77)","(توسعه, 40)","(خودرو, 209)","(اورژانس, 38)","(سلاح, 33)","(استفاده, 34)","(فال, 128)","(مجلس, 227)","(شب, 39)","(استقلال, 88)"

## 3. Keyword Extraction

In [13]:
import yake


def extract_keywords(txt, kw_extractor):
    kw_list = kw_extractor.extract_keywords(txt)
    return [kw for kw, score in kw_list]


kw_extractor = yake.KeywordExtractor(top=10)
keywords_df = pd.DataFrame({
    col: extract_keywords(' '.join(grouped_df[col]['textual_data']),
                          kw_extractor)
    for col in grouped_df.columns
})
display(keywords_df)

,اجتماعی,استان‌ها,اقتصادی,حوادث,دانش,سبک زندگی,سرگرمی,سیاسی,فرهنگی,ورزشی
0,معاهده قطب جنوب,ایذه باغملک دزپارت,میلیون تومان,طرح نوروزی سال,سامانه گیلی بهبود,پیتزا خمیر نانوایی,حافظ فال حافظ,مجلس شورای اسلامی,یکتا ناصر منوچهر,تیم ملی فوتبال
1,قطب جنوب,باغملک دزپارت صیدون,هزار تومان,رییس سازمان اورژانس,انسان اولیه آفریقا,نعوظ نعوظ مجبور,فال حافظ متولدین,جمهوری اسلامی ایران,ناصر منوچهر هادی,تیم ملی ایران
2,گیاه کلپوره,شرکت توسعه نیشکر,میلیون تومان قیمت,استان سیستان بلوچستان,رخداد گلوگاه جمعیت,پیتزا,فال حافظ امروز,کشور,درگذشت فرامرز اصلانی,تیم ملی
3,کشور,مجلس شورای اسلامی,سال,فرمانده انتظامی شهرستان,سامانه توری استتار,خمیر نانوایی پیتزا,فال حافظ فال,سال,فرامرز اصلانی خواننده,تیم ملی کشتی
4,سیستم معاهده قطب,توسعه نیشکر صنایع,شورای کار,سازمان اطلاعات پلیس,هوش مصنوعی گوگل,تزیین سفره هفت‌سین,فال حافظ,انتخابات ریاست جمهوری,یکتا ناصر,ملی فوتبال ایران
5,ورود سامانه بارشی,مردم ایذه باغملک,تومان,مرکز عملیات سازمان,پنهان وسایل نقلیه,نانوایی پیتزا لذیذ,تعبیر فال حافظ,ایران,جنجالی یکتا ناصر,اردوی تیم ملی
6,تلفن همراه هوشمند,دزپارت صیدون مجلس,قیمت,عملیات سازمان اطلاعات,توری استتار سبک,پیتزا خمیر,همسر عشق زندگی,مردم,ویژه‌برنامه تحویل سال,سرمربی تیم ملی
7,گیاه دارویی کلپوره,صیدون مجلس شورای,میلیون,اداره پلیس آگاهی,گلوگاه جمعیت گلوگاه,سفره هفت‌سین,فال حافظ حافظ,انتخابات,یکتا ناصر بازیگر,تیم ملی والیبال
8,سامانه بارشی,فولاد اکسین خوزستان,افزایش,سازمان اورژانس کشور,خانه دیواری شماره,DHA EPA پاتوفیزیولوزی,داد#ده مطمئن باشید#باش,آمریکا,ناصر منوچهر دختر,بازیکن تیم ملی
9,سامانه بارشی کشور,شرکت لوله‌سازی اهواز,درصد,اورژانس استان تهران,Improved Ghillie System,نان سنگک پیتزا,نهایت استفاده برد#بر,حوزه علمیه امام,فرامرز اصلانی,ملی تیم ملی